.now-playing-img {
	height:60px;
	width:60px;
}

.pending-song-container {
	border: 0.2em solid;
	margin: 5px 0;
	width: 250px;
	display: flex;
}

.pending-song-unselected {
	border-color: #bbb;
}

.pending-song-selected {
	border-color: gold;
}

.updoots {
  margin-left:auto;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  float:right;
  height: 100%;
}
