
.player-container {
  padding: 5px;
	display:flex;
  flex-direction: row;
  align-content: center;

}

.now-playing-img {
  display: block;
  height:60px;
  width:60px;
  margin: auto;
}

.track-info {
  padding:10px;
}

.track-info-line {
  flex-wrap: nowrap;
}

.now-playing-progress {
  margin:auto;
	border: 0.15em solid #bbf;
	height: 1em;
	width:100%;
}

.progress-bar {
	background-color: #bbf;
	border: 0.1em solid transparent;
	height: 0.85em;
}
