
.chat-panel-container {
	width: 300px;
  display: flex;
  flex-direction: column;

	.chat-messages {
		overflow-y: scroll;
		overflow-x: hidden;
		min-height: 400px;
    flex-grow: 1;
		border: solid 1px;

		.chat-list {
			margin-top: 5px;

			.chat-message {
				overflow-wrap: break-word;
				margin-right: 5px;
				margin-left: 5px;
			}
		}
	}

	.chat-input {
		width:100%;
		display: flex;
		flex-direction: row;

		.input-field {
			width: 100%;
			flex-grow: 1;
		}
	}
}
