
.chat-panel-container {
	min-width: 300px;
	min-height: 500px;
	.chat-messages {
		height: 400px;
		border: solid 1px;
		.chat-list {
			margin-top: 10px;
		}
	}

	.chat-input {
		width:100%;
		display: flex;
		flex-direction: row;
		.input-field {
			width: 100%;
			flex-grow: 1;
		}
	}
}