.screen {
  display: flex;
  flex-flow:column;
  height:100%;
}

.home-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.game-container {
	height: 100%;
}

.chat-container {
	padding-left:20px;
	float: right;
}

.spotify-container {
	flex-grow: 1;
}

.spotify-game {
	width: 100%;
	display: flex;
}

.spotify-current-and-queue {
	display: flex;
	flex-direction: column;
}

.spotify-login-container {
	justify-content: center;
	flex-grow: 1;
}

.spotify-login-button {

}
