.screen {
  display: flex;
  flex-flow:column;
  height:97vh;
}

.home-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  flex-grow: 1;
  max-height:80vh;
}

.game-container {
	height: 100%;
}

.chat-container {
	padding-left:20px;
	float: right;
  display:flex;
  flex-direction:row;
}

.spotify-container {
	flex-grow: 1;
}

.spotify-game {
	width: 100%;
	display: flex;
}

.spotify-login-button {
  align-self:center;
}
