<div class="screen">
  <div class="home-container">
    <button class="spotify-login-button" (click)=authorize() *ngIf="!isLoggedInToSpotify()"> Spotify Authorization</button>
    <app-spotify-song-search></app-spotify-song-search>
    <app-spotify-player style="flex-grow:5"></app-spotify-player>
    <app-users-online></app-users-online>
    <div class="chat-container">
      <app-change-username></app-change-username>
      <div style="padding-top: 20px"></div>
      <app-chat-panel></app-chat-panel>
    </div>
  </div>

  <app-spotify-pending></app-spotify-pending>
</div>
